{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if title %}{{ title }} - SneakPeek{% else %}SneakPeek{% endif %}</title>

    <link rel="stylesheet" href="{% static 'sneakpeek/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'sneakpeek/css/auth.css' %}">
</head>
<body>

<nav class="navbar">
    <!-- LEFT -->
    <div class="nav-left">
        <a href="{% url 'SneakPeek-home' %}" class="logo">SneakPeek</a>
    </div>

    <!-- RIGHT -->
    <div class="nav-right">
        <ul class="nav-list">
            <li class="{% if request.path == '/' %}active{% endif %}">
                <a href="{% url 'SneakPeek-home' %}">Home</a>
            </li>

            <li class="{% if request.path == '/marketplace/' %}active{% endif %}">
                <a href="{% url 'SneakPeek-marketplace' %}">Marketplace</a>
            </li>

            {%if is_logged_in %}

            <li class="{% if request.path == '/bids/' %}active{% endif %}">
                <a href="{% url 'SneakPeek-bids' %}">My Bids</a>
            </li>
            {%else%}
            <li class="{% if request.path == '/Login/' %}active{% endif %}">
                <a href="{% url 'SneakPeek-Login' %}">My Bids</a>

            </li>
            {%endif%}
         {%if is_logged_in %}
        <li class="{%if request.path == '/Logout/' %} active {%endif%}"><a class="btn btn-outline-light ms-2" href="{%url 'SneakPeek-logout'%}">Logout</a></li>
        {%else%}
          <li class="{%if request.path == '/Login/' %} active {%endif%}"><a class="nav-link" href="{%url 'SneakPeek-Login'%}">Login</a></li>
        {%endif%}

        {%if not is_logged_in%}
        <li class="{%if request.path == '/Signup/' %} active {%endif%}"><a class="btn btn-outline-light ms-2" href="{%url 'sign'%}">Sign Up</a></li>
        {%endif%}
        </ul>
    </div>
</nav>

<main class="container">
    {% block content %}{% endblock %}
</main>

</body>
</html>
